@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    background-color: #050505;
    color: white;
    font-family: 'Inter', sans-serif;
    transition: all 0.7s ease;
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 20px solid #0a0a0a;
    position: relative;
    overflow: hidden;
    animation: aparecer 0.6s ease;
    width: 100%;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

h1 {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    text-shadow: 2px 0 #ff0000, -2px 0 #00ffff;
}

/* 📱 responsive */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.4em;
  }
  
  .container {
    border-width: 10px;
    width: 100%;
    padding: 20px;
  }

  p {
    font-size: 0.6rem !important;
    margin-bottom: 2rem !important;
  }

  .btn-neon {
    width: 90%;
    padding: 1rem 2rem !important;
  }
}

p {
    font-size: 1rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-weight: 300;
    opacity: 0.5;
}

.btn-neon {
    padding: 1rem 4rem;
    font-size: 0.8rem;
    font-weight: 400;
    background: transparent;
    color: white;
    border: 1px solid rgba(255,255,255,0.3);
    cursor: pointer;
    transition: all 0.5s ease;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.btn-neon:hover {
    background: #fff;
    color: #000;
}

body.minimalist {
    background-color: #fff !important;
    color: #000 !important;
}

body.minimalist h1 {
    text-shadow: none;
    color: #000;
}
